.button_plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; 
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;
  border-radius: 10%;
  position: relative;
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 2px; /* Ancho de la línea horizontal del + */
  width: 10px; /* Ajusta este valor para equilibrar el ancho */
  background: #095776; /* Color del signo + */
  top: 50%;
  left: 10px; /* Centrar el + */
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px; /* Centrar el + */
  transform: translate(-50%, -50%);
  background: #095776; /* Color del signo + */
  height: 10px; /* Ajusta este valor para equilibrar la altura */
  width: 2px; /* Ancho de la línea vertical del + */
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff; /* El signo + cambia a blanco al hacer hover */
  transition: 0.2s;
}

.button_plus:hover {
  background-color: #095776; /* El fondo del botón cambia a azul oscuro */
  transition: 0.2s;
}

.button_text {
  margin-left: 10px; /* Ajusta según el espacio que desees */
  color: #095776; /* Color del texto */
  font-size: 14px;
}

.button_plus:hover .button_text {
  color: #fff; /* El texto también cambia a blanco al hacer hover */
}